services:
  next:
    image: node:25-slim
    working_dir: /app/region-scan-dashboard
    entrypoint: yarn dev
    environment:
      - NEXT_TELEMETRY_DISABLED=1
      - NEXT_PUBLIC_APP_URL=${APP_URL}
    volumes:
      - "./next:/app"
    ports:
      - "${NEXT_PORT}:3000"
    user: "1000"
